﻿<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" >
            <NotAuthorized>
                    @if (!context.User.Identity?.IsAuthenticated ?? true)
                    {
                        <EquipmentsSystem.Client.Pages.Login />
                    }
                    else
                    {
                        <p>لا تملك صلاحية للوصول لهذه الصفحه</p>
                    }
                </NotAuthorized>
            
            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">لا يوجد صفحه بهذا العنوان</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>
